{{>layout/header}}
<div class="container">
    <h1>Starting a webservice with SpringBoot</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">Post</a>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Post date</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}  <!-- posts라는 이름의 List를 순회. for문과 동일 -->
                <tr>
                    <!-- {리스트에서 뽑아낸 객체의 필드} -->
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>

</div>
{{>layout/footer}}